@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100% */
}
body{
    background-image: linear-gradient(to right,#e7cfb4,#c9a9f3);

}

main{
    background-color: #e6dfd7;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #504261cc;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #eb9951;
    text-shadow: 1px 1px 3px #423020;
}

h2{
    text-align: center;
    color: #5507a3;
}

p{
    text-align: justify;
}
