@charset "UTF-8";

body{
    text-align: justify;
    background-color: rgb(184, 223, 184);
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 15px #504261cc;
    padding: 10px;
    border-radius: 5px;
}
h1{
    color: rgb(9, 22, 78);
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
    
}
h2{
    color: rgb(60, 73, 102);
    text-align: center;
}

.basico{
    color: rgb(102, 60, 60);
    
}
.intermediario{
    color: rgb(63, 102, 60)
}
.avancado{
   color: rgb(60, 73, 102)
}

.destaque{
    background-color: rgb(231, 231, 94);
}